<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nije ovo</title>
</head>
<h1>Stranica za prijavu</h1>
<body>
    <form action="/unos_korisnika" method="POST">
        <label for ="text">Text</label>
        <input type="text" name="text">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
        <input type="submit">
    </form>
</body>
</html>