<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak</title>
    <link rel="stylesheet" href="../static/zadatak.css">
</head>
<body>
    <div class="prvi">
        <p>Vodic za nove studente</p>
    </div>
    <div class="drugi">
        <a href="Uvodna prezentacija">Uvodna prezentacija</a>
    </div>
    <div class="treci">
        <a href="Vodic za nove studente">Vodic za nove studente</a>
    </div>
    <div class="cetvrti">
        <a href="Pdf dokumente">Pdf dokument</a>
    </div>
</body>
</html>