body {
    background-image: url(background.avif);
}

.glavni {
    margin: 30px 5px 0px 5px;
    background-color: #ADADAD;
    border-top: 3px solid #64485C;
    border-radius: 5px 5px 0px 0px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.livi-dio {
    display: flex;
    float: left;
    align-items: center;
}

.livi-dio > p {
    display: inline;
    color: #64485C;
    margin-right: 20px;
}

.slika {
    float:right;
    justify-self: end;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #3A454D;
}

a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

main {
    border-collapse: collapse;
    text-align: center;
}

